html {
  height: 100%;
}

body {
  background: none;
}

html,
body {
  overflow: hidden;
}

body {
  background: url("./media/BG3.jpg");
  background-size: cover;
  background-position: center;
}

nav ul {
  letter-spacing: 25px;
  display: block;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  color: yellow;
  font-size: 1.5em;
  font-family: rocketwildness;
  font-weight: 900;
  text-align: center;
  list-style-type: none;
  text-shadow: 1.5px 2px rgb(238, 0, 255);
  text-transform: uppercase;
}
